.header-content{
  min-height: 25vh;
  background: linear-gradient(rgba(241, 235, 243, 0.3), rgba(18, 1, 24, 0.5)), url("../../assets/header-background.jpg") center/cover no-repeat;
  flex-direction: column;
}

.header-title{
  font-size: 4.2rem;
}

.header-text{
  margin-top: -1.8rem;
  margin-bottom: 2.8rem;
  opacity: 0.8;
  max-width: 770px;
}